@import 'tailwindcss';

@source "../../*";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

/* Add Your Custom CSS Here */

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
} 

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  text-decoration: none;
}

h2 a, h3 a, h4 a {
  text-decoration: none !important;
    transform: scale(1.2);
    position: relative;
    display: inline-block;
    margin-left: -5px;
    margin-right: 10px;
    color: #b4fd4f !important;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}        

@keyframes border-rotate {
to {
    --border-angle: 360deg;
}
}

.animate-border {
  animation: border-rotate 3s linear infinite;
}

.font-rota{
  font-family: rota;
}

.hljs {
  color: #f8e164;
}

@media(min-width: 768px) {
.features-tailwind.hljs{
  overflow:hidden;
  padding-top: 15px !important;
    padding-left: 20px !important;
    padding-right: 190px !important;
    padding-bottom: 150px !important;
    background-size:top right;
    /* background-image:url('/assets/images/page.svg'); */
}
}

.features-tailwind.hljs{
overflow:hidden;
padding: 15px;
}

@media(min-width: 768px) {
.features-layouts.hljs{
  padding-top: 30px !important;
  padding-left: 45px !important;
  padding-bottom: 30px !important;
}
}

.features-layouts.hljs{
  padding: 15px;
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #f8e164 !important;
}


.prose h1, .prose h2, .prose h3, .prose h4{
font-family: 'Rota';
}

.prose-sm pre code{
  font-size:14px;
}

.docs .prose pre {
  padding:0px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background:rgba(255, 255, 255, 0.06);
  border-radius:10px;
  white-space: break-spaces;
  display:grid;
}



.docs .prose pre code {
  padding:18px;
  white-space:pre;
}

@media (min-width: 640px) {
  .docs .prose pre code {
    padding:26px;
  }
}

.prose p{
  color:rgba(255, 255, 255, 0.8);
}


.prose h2{
  font-size:25px;
  font-weight:800;
}
[data-loading] {
  display: none;
}

.language-makefile .hljs-comment{
  color: #87e778;
}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  background: #292932;
    text-decoration: none;
    font-style: normal !important;
    padding: 5px 10px;
    line-height: auto;
    border-radius: 4px;
    border-left-color: #bcfb4f;
    border-inline-start-color: #bcfb4f !important;
    border-bottom: 1px dotted #39393f;
    border-top: 1px dotted #39393f;
    border-right: 1px dotted #39393f;

  svg {
    color: #bcfb4f;
    margin-right:5px;
    margin-bottom:-2px;
  }

  p{
    margin-top:5px;
    margin-bottom:5px;
    @apply flex items-center;
  }

  span{
    transform: translateY(1px);
    display: inline-block;
  }
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before{
  content: '' !important;
}

/*
   *  This is the marquee animation styles. 
   *  Instead of adding this CSS you may wish to implement in your tailwind config. 
   *  Learn more in the marquee Tailwind Config section
   */
@keyframes marquee {
    0% {
        transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-50% - var(--gap) / 2));
    }
}
.animate-marquee {
    animation: marquee 40s linear infinite;
}

@keyframes marquee-reverse {
  0% {
      transform: translateY(calc(-50% - var(--gap) / 2));
      
  }
  100% {
    transform: translateY(0);
  }
}
.animate-marquee-reverse {
  animation: marquee-reverse 40s linear infinite;
}