<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <script src="//unpkg.com/alpinejs" defer></script>
    {tailwindcss}
</head>
<body class="bg-black">
    <header class="relative z-50">

        <div class="flex w-full text-white bg-gradient-to-r from-[#d4fb51] border-r border-b to-[#c3ff00] border-zinc-800">
            <div class="flex justify-between items-center mx-auto w-full max-w-6xl h-10">
                <a href="https://devdojo.com" class="flex relative items-center pl-5 h-full font-semibold text-black group lg:w-auto lg:items-center lg:justify-center">
                    <span class="overflow-hidden absolute left-0 w-4 h-4 transition duration-300 transform -rotate-180 -translate-x-0.5 ease group-hover:rotate-0 group-hover:translate-x-0 group-hover:w-4">
                        <svg  class="w-4 h-4"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 101" fill="none"><path fill="currentColor" d="m93.178 50.665-32.715-50h35.29l34.003 50-34.002 50h-35.29l32.714-50Zm-92.992 50 32.715-50L.186.665h35.29l34.003 50-34.002 50H.187Z"/></svg>
                    </span>
                    <span class="mx-auto ml-1 text-xs leading-none select-none">Back to DevDojo Home</span>
                </a>
            </div>
        </div>
    
        <!-- End Background Layer -->
        <nav x-data="{ mobile: false }" class="relative z-40 pt-6 mx-auto max-w-6xl md:pb-6 md:flex md:justify-between md:items-center">
            <div class="flex relative z-20 justify-between items-center">
                <div>
                    <a href="#_" class="flex items-center space-x-2 text-base font-bold text-white">
                        <svg class="w-auto h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151 201" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M75.847.132c-28.092 23.884-45.7 25-75 25v96.125c0 15.285 4.238 26.069 12.393 35.442l17.526-33.718.345-.661 5.06-9.74L76.496 35l40.323 77.58c20.95 2.616 30.894 8.93 30.894 8.93a219.818 219.818 0 0 0-24.117 1.321l-1.371.15c-1.345.158-2.69.326-4.017.502a227.52 227.52 0 0 0-41.712 9.705C50.36 141.907 30.44 153.7 18.4 161.993c9.303 8.615 22.183 16.475 38.353 26.344 5.927 3.616 12.296 7.503 19.093 11.795 6.796-4.292 13.165-8.179 19.091-11.795 16.494-10.066 29.564-18.042 38.907-26.861a205.398 205.398 0 0 0-35.223-19.64 225.71 225.71 0 0 1 30.106-6.358l10.533 20.272c7.627-9.153 11.586-19.721 11.586-34.493V25.132c-29.3 0-46.909-1.117-75-25Zm.649 112.615c-6.892.793-14.306 1.973-22.26 3.655l2.566-4.923 19.694-37.896 19.693 37.896c-6.582.089-13.155.513-19.693 1.268Z" clip-rule="evenodd"></path></svg>
                        <span class="flex flex-col translate-y-0.5">
                            <span class="leading-none">AUTH</span>
                            <span class="text-[0.5rem] leading-tight font-normal">by DevDojo</span>
                        </span>
                    </a>
                </div>
    
                <!-- Mobile menu button -->
                <div @click="mobile = !mobile" class="flex md:hidden">
                    <button type="button" class="text-gray-200 hover:text-gray-100 focus:outline-none focus:text-gray-100" aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
    
            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div :class="{ 'hidden' : !mobile, 'flex': mobile }" class="hidden left-0 z-10 justify-center items-center w-full font-semibold select-none md:flex lg:absolute">
                <div class="flex flex-col justify-center mt-4 space-y-2 w-full md:mt-0 md:flex-row md:space-x-6 lg:space-x-10 xl:space-x-16 md:space-y-0">
                    <div x-data="{ isOpen: false }" @mouseenter="isOpen = true" @mouseleave="isOpen = false" class="relative py-3">
                        <div class="flex relative z-10 items-center space-x-1 text-gray-300 cursor-pointer lg:space-x-3 hover:text-gray-100 focus:outline-none">
                            <span class="">Product</span>
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
    
                        <div x-show="isOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1" class="overflow-hidden absolute left-0 z-20 z-30 p-3 mt-3 -ml-0 space-y-2 w-full bg-gradient-to-br from-gray-800 to-gray-900 rounded-xl ring-1 ring-black ring-opacity-5 shadow-lg transform lg:left-1/2 lg:-ml-48 md:w-96" data-rounded="rounded-xl" data-rounded-max="rounded-full" style="display: none;">
    
                            <a href="#_" class="block px-4 py-3 pr-0 text-base text-gray-200 rounded-xl cursor-pointer hover:bg-gray-900 hover:text-gray-100" data-rounded="rounded-xl">
                                <span class="flex items-start space-x-1 md:space-x-3">
                                    <svg class="flex-shrink-0 mt-1 w-9 h-9 text-blue-500" data-primary="blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
                                    </svg>
                                    <span class="flex flex-col">
                                        <span>Drag'n Drop</span>
                                        <span class="text-sm font-normal text-gray-300">Simple drag'n drop tailwind page creator.</span>
                                    </span>
                                </span>
                            </a>
                            <a href="#_" class="block px-4 py-3 pr-0 text-base text-gray-200 rounded-xl cursor-pointer hover:bg-gray-900 hover:text-gray-100" data-rounded="rounded-xl">
                                <span class="flex items-start space-x-4">
                                    <svg class="flex-shrink-0 mt-1 w-9 h-9 text-blue-500" data-primary="blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path>
                                    </svg>
                                    <span class="flex flex-col">
                                        <span>Premium Tools</span>
                                        <span class="text-sm font-normal text-gray-300">Gain access to the ultimate set of tools.</span>
                                    </span>
                                </span>
                            </a>
                            <a href="#_" class="block px-4 py-3 pr-0 text-base text-gray-200 rounded-xl cursor-pointer hover:bg-gray-900 hover:text-gray-100" data-rounded="rounded-xl">
                                <span class="flex items-start space-x-4">
                                    <svg class="flex-shrink-0 mt-1 w-9 h-9 text-blue-500" data-primary="blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
                                    </svg>
                                    <span class="flex flex-col">
                                        <span>Community</span>
                                        <span class="text-sm font-normal text-gray-300">A community of creators like yourself.</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <a href="#_" class="py-3 text-gray-300 hover:text-gray-100 hover:underline">Pricing</a>
                    <div x-data="{ isOpen: false }" @mouseenter="isOpen = true" @mouseleave="isOpen = false" class="relative py-3">
                        <div class="flex relative z-10 items-center space-x-1 text-gray-300 cursor-pointer lg:space-x-3 hover:text-gray-200 focus:outline-none">
                            <span class="">Features</span>
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" class=""></path>
                            </svg>
                        </div>
    
                        <div x-show="isOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1" class="overflow-hidden absolute left-0 z-20 z-30 p-3 mt-3 -ml-0 space-y-2 w-full bg-gradient-to-br from-gray-800 to-gray-900 rounded-xl ring-1 ring-black ring-opacity-5 shadow-lg transform lg:left-1/2 lg:-ml-24 md:w-48" data-rounded="rounded-xl" data-rounded-max="rounded-full" style="display: none;">
    
                            <a href="#_" class="block px-4 py-3 text-sm text-gray-200 capitalize rounded-xl cursor-pointer hover:bg-gray-900 hover:text-gray-200" data-rounded="rounded-xl">
                                Design Faster
                            </a>
                            <a href="#_" class="block px-4 py-3 text-sm text-gray-200 capitalize rounded-xl hover:bg-gray-900 hover:text-gray-200" data-rounded="rounded-xl">
                                Easily Export
                            </a>
                            <a href="#_" class="block px-4 py-3 text-sm text-gray-200 capitalize rounded-xl hover:bg-gray-900 hover:text-gray-200" data-rounded="rounded-xl">
                                Unlimited Combos
                            </a>
                            <a href="#_" class="block px-4 py-3 text-sm text-gray-200 capitalize rounded-xl hover:bg-gray-900 hover:text-gray-200" data-rounded="rounded-xl">
                                And More
                            </a>
                        </div>
                    </div>
                    <div x-data="{ isOpen: false }" @mouseenter="isOpen = true" @mouseleave="isOpen = false" class="relative py-3">
                        <div class="flex relative z-10 items-center space-x-1 text-gray-300 cursor-pointer lg:space-x-3 hover:text-gray-100 focus:outline-none">
                            <span class="">Resources</span>
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
    
                        <div x-show="isOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1" class="overflow-hidden absolute left-0 z-20 z-30 p-3 mt-3 -ml-0 space-y-2 w-full bg-gradient-to-br from-gray-800 to-gray-900 rounded-xl ring-1 ring-black ring-opacity-5 shadow-lg transform lg:-ml-24 lg:left-1/2 md:w-48" data-rounded="rounded-xl" data-rounded-max="rounded-full" style="display: none;">
    
                            <a href="#_" class="block px-4 py-3 text-sm text-gray-200 capitalize rounded-xl cursor-pointer hover:bg-gray-900 hover:text-gray-100" data-rounded="rounded-xl">
                                About Us
                            </a>
                            <a href="#_" class="block px-4 py-3 text-sm text-gray-200 capitalize rounded-xl hover:bg-gray-900 hover:text-gray-100" data-rounded="rounded-xl">
                                Press Release
                            </a>
                            <a href="#_" class="block px-4 py-3 text-sm text-gray-200 capitalize rounded-xl hover:bg-gray-900 hover:text-gray-100" data-rounded="rounded-xl">
                                Contact Us
                            </a>
                            <a href="#_" class="block px-4 py-3 text-sm text-gray-200 capitalize rounded-xl hover:bg-gray-900 hover:text-gray-100" data-rounded="rounded-xl">
                                Our Blog
                            </a>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <div :class="{ 'flex' : mobile, 'hidden md:flex' : !mobile }" class="hidden relative z-20 flex-col justify-center pr-5 mt-4 space-y-8 md:pr-3 lg:pr-0 md:flex-row md:space-y-0 md:items-center md:space-x-6 md:mt-0 md:flex">
                <a href="#_" class="px-7 py-3 font-medium text-black bg-white flex items-center rounded-full shadow-xl cursor-pointer hover:bg-[#c9fd02]">
                    <svg class="w-4 h-4 -translate-x-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M24.02 0C10.738 0 0 10.817 0 24.198 0 34.895 6.88 43.95 16.424 47.154c1.193.241 1.63-.52 1.63-1.161 0-.561-.039-2.484-.039-4.488-6.682 1.443-8.073-2.884-8.073-2.884-1.074-2.805-2.665-3.525-2.665-3.525-2.187-1.483.16-1.483.16-1.483 2.425.16 3.698 2.484 3.698 2.484 2.147 3.686 5.607 2.644 7 2.003.198-1.562.834-2.644 1.51-3.245-5.329-.56-10.936-2.644-10.936-11.939 0-2.644.954-4.807 2.466-6.49-.239-.6-1.074-3.085.239-6.41 0 0 2.028-.641 6.6 2.484 1.959-.53 3.978-.8 6.006-.802 2.028 0 4.095.281 6.005.802 4.573-3.125 6.601-2.484 6.601-2.484 1.313 3.325.477 5.81.239 6.41 1.55 1.683 2.465 3.846 2.465 6.49 0 9.295-5.607 11.338-10.976 11.94.876.76 1.63 2.202 1.63 4.486 0 3.245-.039 5.85-.039 6.65 0 .642.438 1.403 1.63 1.163C41.12 43.949 48 34.895 48 24.198 48.04 10.817 37.262 0 24.02 0Z" clip-rule="evenodd"/></svg>
                    
                    <span>View on Github</span>
                </a>
            </div>
        </nav>
    </header>
    {slot}
    <script src="/assets/js/main.js"></script>
</body>
</html>