<div  x-data="{ 
        hovered: '',
        active: 'home',
        lastKnownScrollY: 0,
        ticking: false,
        markerPosition: {
            width: 0,
            height: 0,
            left: 0,
            right: 0
        },
        mobileMenu: false,
        calculateMarkerPosition(hoveredElement){
            const markerElement = document.getElementById('marker');

            if(hoveredElement)
            {
                // Get the width, height, top, and left position of the hovered element
                const width = hoveredElement.offsetWidth;
                const height = hoveredElement.offsetHeight;
                const top = hoveredElement.offsetTop;
                const left = hoveredElement.offsetLeft;

                // Apply the values to the marker element
                this.markerPosition.width = width;
                this.markerPosition.height = height;
                this.markerPosition.top = top;
                this.markerPosition.left = left;
            }
        },
        resetProgressWidth(){
            const targetElement = document.getElementById('nav-border-animated');
            if(targetElement){
                targetElement.style.width = `0%`;
            }
        }
    }" 
    @set-page-active.window="scrollTop(); active = $event.detail.active; resetProgressWidth()"
    @set-page-full-width.window="fullWidth=true"
    id="header"
    x-init="

        if(window.location.pathname.includes('docs')){
            fullWidth = true;
            active='docs';
        }

        if(window.location.pathname.includes('templates')){
            fullWidth = true;
            active='templates';
        }

        $watch('mobileMenu', function(value){
            if(value){
                window.dispatchEvent(new CustomEvent('close-left-sidebar', {}));
            }
        })

        $watch('active', function(value){
            setTimeout(function(){
                calculateMarkerPosition(document.querySelector('[data-' + value +']'));
            }, 10);
        });


        window.addEventListener('resize', function(e){
            console.log('risize');
            calculateMarkerPosition(document.querySelector('[data-' + active +']'));
        });

        window.addEventListener('scroll', function(e) {
            this.lastKnownScrollY = window.scrollY;
        });

        setTimeout(function(){
            calculateMarkerPosition(document.querySelector('[data-' + active +']'));
        }, 10);
        setTimeout(function(){
            document.getElementById('marker').classList.add('ease-out', 'duration-300');
        }, 100);
    " 
    @close-mobile-menu.window="mobileMenu=false" 
    class="relative w-full z-[999]">
    <div class="flex cursor-pointer w-full absolute z-[999] group text-white bg-[#a9fd02]  border-r border-b  border-zinc-800">
        <div  id="top-bar" class="flex justify-between items-center px-6 mx-auto w-full max-w-7xl h-10 duration-300 ease-out md:px-8" x-cloak>
            <a href="https://devdojo.com" class="flex relative items-center pl-5 h-full font-semibold text-black group-hover:opacity-100 lg:w-auto lg:items-center lg:justify-center">
                <span class="overflow-hidden absolute left-0 w-4 h-4 transition duration-300 transform -rotate-180 -translate-x-0.5 ease group-hover:rotate-0 group-hover:translate-x-0 group-hover:w-4">
                    <svg  class="w-4 h-4"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 101" fill="none"><path fill="currentColor" d="m93.178 50.665-32.715-50h35.29l34.003 50-34.002 50h-35.29l32.714-50Zm-92.992 50 32.715-50L.186.665h35.29l34.003 50-34.002 50H.187Z"/></svg>
                </span>
                <span class="mx-auto ml-1 text-xs leading-none select-none">Back to DevDojo Home</span>
            </a>
        </div>
    </div>
    <header class="box-border absolute z-[102] flex translate-y-10 items-center w-full h-20 leading-10 text-center bg-opacity-100 md:bg-opacity-50 bg-gradient-to-b">
       
        <div id="nav-container"  class="px-6 mx-auto w-full max-w-7xl leading-10 text-center duration-300 ease-out md:px-8" x-cloak>
            <div class="box-border flex flex-wrap justify-between items-center text-neutral-900">
                <div class="flex relative items-center w-auto leading-10 lg:flex-grow-0 lg:flex-shrink-0 lg:text-left">
                    <include src="logo.html"></include>
                </div>
                <div 
                    :class="{ mobileMenu : 'flex z-[99] flex-col', 'md:flex hidden' : !mobileMenu }"
                    class="absolute z-50 flex-col items-center justify-center w-full h-auto text-xs font-semibold text-center text-gray-400 -translate-x-1/2 translate-y-[154px] md:translate-y-0 md:rounded-lg backdrop-blur-sm md:w-auto md:h-10 left-1/2 md:flex-row md:items-center" x-cloak
                >
                    <div class="absolute top-0 right-0 w-full h-px bg-gradient-to-r from-transparent to-transparent opacity-60 -translate-y-px via-white/30"></div>
                    <div class="absolute bottom-0 left-0 w-full h-px bg-gradient-to-r from-transparent to-transparent opacity-60 translate-y-px via-white/20"></div>
                    <div id="marker" x-init="setTimeout(function(){ $el.classList.remove('opacity-0'); }, 300);" class="absolute opacity-0 top-0 z-20 left-0 w-auto h-auto rounded-lg bg-white/20 md:bg-white/[7%] backdrop-blur-lg ease-out duration-300" 
                        :style="'width:' + markerPosition.width + 'px; height:' + markerPosition.height + 'px; top:' + markerPosition.top + 'px; left:' + markerPosition.left + 'px;'"
                        x-cloak></div>
                    <div id="nav-items" class="relative z-50 flex-col  items-center justify-center w-full h-auto px-2 py-[5px] text-xs font-semibold text-center text-gray-400 md:rounded-lg md:ring-1 ring-gray-200/[15%] bg-black/90 md:bg-white/[8%] md:w-auto md:h-10 md:flex-row md:items-center">
                        <button hx-get="{ url('/') }" hx-target="#site-content" hx-select="#site-content" hx-ext="alpine-morph" hx-swap="outerHTML transition:true" hx-push-url="true" data-home @click="active='home'; fullWidth=false; scrollTop(); resetProgressWidth(); mobileMenu=false" @mouseenter="calculateMarkerPosition($el); hovered='home'" 
                            :class="{ 'text-white' : active == 'home', 'text-white/80': active != 'home' }"
                            class="inline-flex relative flex-shrink-0 justify-center items-center px-3 py-3 my-2 w-full h-full leading-tight text-center rounded-lg transition-colors md:py-2 group md:my-0 md:w-auto md:text-center">
                            <span>Home</span>
                            <span 
                                :class="{ 'w-full left-0' : active=='home', 'w-0 left-1/2' : active!='home' }"    
                                class="absolute bottom-0 px-1.5 h-px duration-300 ease-out translate-y-1.5"><span class="block relative w-full h-px bg-gradient-to-r md:from-white/0 md:via-white/40 md:to-white/0"></span></span>
                        </button> 
                        <button hx-get="{ url('/docs/getting-started') }" hx-target="#site-content" hx-select="#site-content" hx-ext="alpine-morph" hx-swap="outerHTML transition:true" hx-push-url="true" @click="active='docs';  introductionActive = true; fullWidth=true; scrollTop(); resetProgressWidth(); route=$el.getAttribute('hx-get');  mobileMenu=false" data-docs @mouseenter="calculateMarkerPosition($el); hovered='docs'"
                            :class="{ 'text-white' : active == 'docs', 'text-white/80': active != 'docs' }"
                            class="inline-flex relative flex-shrink-0 justify-center items-center px-3 py-3 my-2 w-full h-full leading-tight text-center rounded-lg transition-colors md:py-2 group md:my-0 md:w-auto md:text-center">
                            <span>Documentation</span>
                            <span 
                                :class="{ 'w-full left-0' : active=='docs', 'w-0 left-1/2' : active!='docs' }"    
                                class="absolute bottom-0 px-1.5 h-px duration-300 ease-out translate-y-1.5"><span class="block relative w-full h-px bg-gradient-to-r md:from-white/0 md:via-white/40 md:to-white/0"></span></span>
                        </button>
                        <button hx-get="{ url('/docs/install') }" hx-target="#site-content" hx-select="#site-content" hx-ext="alpine-morph" hx-swap="outerHTML transition:true" hx-push-url="true" @click="active='install'; installationActive = true; fullWidth=true; scrollTop(); resetProgressWidth(); route=$el.getAttribute('hx-get');  mobileMenu=false" data-install @mouseenter="calculateMarkerPosition($el); hovered='install'" 
                            :class="{ 'text-white' : active == 'install', 'text-white/80': active != 'install' }"
                            class="inline-flex relative flex-shrink-0 justify-center items-center px-3 py-3 my-2 w-full h-full leading-tight text-center rounded-lg transition-colors md:py-2 group md:my-0 md:w-auto md:text-center">
                            <span>Installation</span>
                            <span 
                                :class="{ 'w-full left-0' : active=='install', 'w-0 left-1/2' : active!='install' }"    
                                class="absolute bottom-0 px-1.5 h-px duration-300 ease-out translate-y-1.5"><span class="block relative w-full h-px bg-gradient-to-r md:from-white/0 md:via-white/40 md:to-white/0"></span></span>
                        </button> 
                    </div>
                
                </div>
                <div  class="flex relative items-center space-x-3 font-medium leading-10 md:flex-grow-0 md:flex-shrink-0 md:mt-0 md:text-right lg:flex-grow-0 lg:flex-shrink-0">
                    <button @click="leftSidebar=!leftSidebar; $el.classList.add('scale-90'); setTimeout(function(){ $el.classList.remove('scale-90') }, 100)" class="block p-2 h-full rounded-lg duration-100 ease-out group md:hidden hover:bg-neutral-800/70">
                        <div class="flex flex-col justify-center items-center w-6 h-6 transition-all duration-300 linear">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-full h-full text-white currentColor">
                                <path fill-rule="evenodd" d="M3 9a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 9Zm0 6.75a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                              </svg>
                              

                        </div>
                    </button>
                    <div :class="{ 'flex' : mobile, 'hidden md:flex' : !mobile }" class="hidden relative z-20 flex-col justify-center pr-5 mt-4 space-y-8 md:pr-3 lg:pr-0 md:flex-row md:space-y-0 md:items-center md:space-x-6 md:mt-0 md:flex">
                        <a href="https://github.com/thedevdojo/auth" target="_blank" class="px-5 font-medium group text-black bg-white flex text-sm h-10 items-center rounded-lg shadow-xl cursor-pointer hover:bg-[#c9fd02]">
                            <svg class="w-4 h-4 -translate-x-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M24.02 0C10.738 0 0 10.817 0 24.198 0 34.895 6.88 43.95 16.424 47.154c1.193.241 1.63-.52 1.63-1.161 0-.561-.039-2.484-.039-4.488-6.682 1.443-8.073-2.884-8.073-2.884-1.074-2.805-2.665-3.525-2.665-3.525-2.187-1.483.16-1.483.16-1.483 2.425.16 3.698 2.484 3.698 2.484 2.147 3.686 5.607 2.644 7 2.003.198-1.562.834-2.644 1.51-3.245-5.329-.56-10.936-2.644-10.936-11.939 0-2.644.954-4.807 2.466-6.49-.239-.6-1.074-3.085.239-6.41 0 0 2.028-.641 6.6 2.484 1.959-.53 3.978-.8 6.006-.802 2.028 0 4.095.281 6.005.802 4.573-3.125 6.601-2.484 6.601-2.484 1.313 3.325.477 5.81.239 6.41 1.55 1.683 2.465 3.846 2.465 6.49 0 9.295-5.607 11.338-10.976 11.94.876.76 1.63 2.202 1.63 4.486 0 3.245-.039 5.85-.039 6.65 0 .642.438 1.403 1.63 1.163C41.12 43.949 48 34.895 48 24.198 48.04 10.817 37.262 0 24.02 0Z" clip-rule="evenodd"/></svg>
                            <span>View on Github</span>
                            <svg class="w-4 h-4 duration-300 ease-out translate-x-1 -translate-y-px group-hover:-translate-y-0.5 group-hover:translate-x-1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>
</div>